
div[id=inputContainer] {
    margin: 0;
}

div[id=inputContainer] div.row div {
    margin-top: 2px;
    margin-bottom: 2px;
}

div[id=introduction] {
    text-align: justify;
}

div[id=output] {
    text-align: justify;
}

.userInput {
    border: 1px solid #c4c4c4;
    width: 300px;
    /*height: 20px;*/
    vertical-align: center;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

input:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
    opacity: 0.7;
    table-layout: fixed;
}

.cell_count {
    text-align: center;
    font-size: 14px;
    padding: 4px 11px;
    border: 1px solid grey;
    overflow: hidden;
    word-break: normal;
    color: darkslategray;
    background: rgba(255, 255, 255, 0.3);
}


/* cell style for table in nussinov.html */
.cell {
    /*make cell text unselectable to get rid of ugly hover*/
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    border: 1px solid #a0a0a0;
    background: rgba(255, 255, 255, 1);

}


.cell_th {
    /*make cell text unselectable to get rid of ugly hover*/
    cursor: default;
    text-align: center;
    font-size: 14px;
    border: 1px solid #a0a0a0;
    background: rgba(255, 255, 255, .3);
    color: grey;

}

th[id=structTableHeading] {
    border: 1px solid #a0a0a0;
    padding: 4px;
    font-size: 14px;
    color: grey;
}

td[id=structTableCells] {
    cursor: pointer;
    border: 1px solid #a0a0a0;
    padding: 4px;
    font-size: 14px;
    background: white;
    text-align: center;
    letter-spacing: 2px;
}

div[id=max] {
    background: #86b1ff;
}

/* dotplot table*/


/* cell style for table in nussinov.html */
.dp_cell {
    /*make cell text unselectable to get rid of ugly hover*/
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    border: 1px solid #a0a0a0;
    background: rgba(255, 255, 255, 1);

}

.chart div {
     font: 10px sans-serif;
     background-color: steelblue;
     text-align: right;
     padding: 3px;
     margin: 1px;
     color: #001bff;
 }
.chart2 div {
    font: 10px sans-serif;
    background-color: red;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: #20ff01;
}

text.active {
    fill: red;
    font-weight: bolder;
    font-size: 18px;
}

rect.active{
    fill: red;
}

.background {
    fill: #ffc500;
}

line {
    stroke: #eee;
}

svg {
    font: 10px sans-serif;
}
