
body {
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 500;
    padding: 20px;
}

li[id=li] {
    font-size: 12px;
}

label[id=label] {
    font-size: 12px;
}

div.content div[id=inputContainer] {
	margin:20px;
}

div[id=inputContainer] div.row div {
	margin:0;
}

input[id=userInput] {
    border: 1px solid #c4c4c4;
    width: 300px;
    height: 30px;
    font-size: 18px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

input:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

button {
    background-color: #D6D6D6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #545454;
    pointer-events: none;


}

div[id=selecterbox] {
	position: absolute;
	right: 20px; 
	bottom: 600px;
}

ul[id=traces] {
	list-style: none;
	text-align: center;
	background-color: #D8D8D8;
	margin-right: 30px;
	width: 150px;
	line-height: 35px;
	font-size: 24px;
}

li [id="traces"] {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #D8D8D8;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
}

